<nav class="navbar">
  <div class="navbar-container">
    <a class="navbar-brand" routerLink="/">Career Portal</a>
    <div class="navbar-links">
      <a class="nav-link" routerLink="/home">Home</a>
      <a class="nav-link" routerLink="/jobs">Job Listings</a>
      <a class="nav-link" routerLink="/contact">Contact Us</a>
      <a class="nav-link" routerLink="/about">About Us</a>

      <a class="nav-link" routerLink="/login">Login</a>
      <a class="nav-link" routerLink="/register">Register</a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
