.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f9fa; /* Light background color */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  width: 80%;
}

.job-detail-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.job-detail-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.btn-secondary {
  background-color: #3498db;
  border-color: #3498db;
  color: #fff;
  transition: background-color 0.3s ease;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.btn-secondary:hover {
  background-color: #2980b9;
  border-color: #2980b9;
}
